<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="global.css">
    <title>UpGen</title>
    <link rel="icon" type="image/png" href="">
</head>
<body>
    <div id="app">
        <h2>Points: {{player.points.toFixed(1)}}</h2>
        <table>
            <td><button onclick="switchtab('generator')">Generator</button></td>
            <td><button v-if="player.gens > 0" onclick="switchtab('upgrades')">Upgrades</button></td>
        </table>
        <div v-if="player.tab == 'generator'" id="generator">
            <h3>Generators: {{player.gens}}</h3>
            <button :class="{lighterButton:(!player.points.greaterThanOrEqualTo(10))}" v-if="player.gens == 0" onclick="buyGen()">Buy Generator | 10</button>
        </div>
    </div>
    <script src="https://unpkg.com/vue"></script>
    <script src="./js/break_eternity.js"></script>
    <script src="./js/generator.js"></script>
    <script src="./js/load.js"></script>
    <script src="./js/tabs.js"></script>
    <script src="./js/main.js"></script>
    <script>load()</script>
</body>
</html>